In [1]:
import os

os.getcwd()

'C:\\Users\\noye1'

In [2]:
os.chdir('C:\\Users\\noye1\\Documents\\School work\\Med school\\HSS')

In [3]:
os.getcwd()

'C:\\Users\\noye1\\Documents\\School work\\Med school\\HSS'

In [4]:
import pandas as pd

In [4]:
os.getcwd()

'C:\\Users\\noye1\\Documents\\School work\\Med school\\HSS'

In [6]:
covid_data = pd.read_csv('HSS_Intro_to_Data_Analysis_Ebola_Dataset_csv.csv')

In [7]:
covid_data

,Patient_ID,Patient_Age,Malaria,Length_of_Stay,Disposition,Ebola_Contact,Wellness_Scale,Temperature,Heart_Rate,Fever_Ever,Bleeding_Ever,PCR_Viral_Load
0,2.0,14.0,NaN,17.0,1.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN
1,5.0,6.0,NaN,11.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.0
2,6.0,8.0,NaN,16.0,1.0,1.0,NaN,NaN,NaN,NaN,0.0,0.0
3,7.0,9.0,NaN,8.0,1.0,1.0,NaN,NaN,NaN,1.0,0.0,0.0
4,8.0,9.0,NaN,6.0,0.0,1.0,NaN,NaN,NaN,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
118,125.0,2.0,NaN,10.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
119,126.0,1.0,NaN,12.0,0.0,1.0,NaN,36.0,NaN,1.0,0.0,NaN
120,127.0,16.0,0.0,3.0,0.0,0.0,4.0,36.0,NaN,0.0,1.0,1.0
121,128.0,12.0,1.0,22.0,1.0,1.0,NaN,38.0,NaN,1.0,1.0,NaN
122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
test = covid_data.mean(axis=0)

In [14]:
print (test)

Patient_ID        66.237705
Patient_Age        7.663934
Malaria            0.397059
Length_of_Stay    10.614754
Disposition        0.434426
Ebola_Contact      0.936937
Wellness_Scale     2.955882
Temperature       37.617647
Heart_Rate        99.951220
Fever_Ever         0.907407
Bleeding_Ever      0.446429
PCR_Viral_Load     0.336842
dtype: float64

In [15]:
covid_data.std()

Patient_ID        36.351601
Patient_Age        5.340645
Malaria            0.492926
Length_of_Stay     6.357720
Disposition        0.497725
Ebola_Contact      0.244179
Wellness_Scale     1.138654
Temperature        1.376665
Heart_Rate        23.757053
Fever_Ever         0.291212
Bleeding_Ever      0.499356
PCR_Viral_Load     0.475138
dtype: float64

In [17]:
covid_data.groupby('Ebola_Contact').size()

Ebola_Contact
0.0      7
1.0    104
dtype: int64

In [24]:
import scipy

In [27]:
from scipy import stats

In [19]:
# for the t-test we are comapring the mean of the none Malaria pt vs Malria pt.

#subset data

Malaria = covid_data.query('Malaria == 1')['Length_of_Stay']

In [20]:
No_Malaria = covid_data.query('Malaria == 0')['Length_of_Stay']

In [21]:
Malaria

41      7.0
42      7.0
43     13.0
46      1.0
50      9.0
59     21.0
60     13.0
61      5.0
64     11.0
70     13.0
71     12.0
76      2.0
79      5.0
82      4.0
84      4.0
87      8.0
88     21.0
95      9.0
97      5.0
98     21.0
108     2.0
109     6.0
110    18.0
111     5.0
112     4.0
115    18.0
121    22.0
Name: Length_of_Stay, dtype: float64

In [22]:
covid_data.groupby('Malaria').describe()

        Patient_ID                                                        \
             count       mean        std   min   25%   50%    75%    max
Malaria
0.0           41.0  75.902439  25.031785  40.0  55.0  70.0  100.0  127.0
1.0           27.0  85.259259  27.277199  43.0  62.5  86.0  110.0  128.0

        Patient_Age            ... Bleeding_Ever      PCR_Viral_Load  \
              count      mean  ...           75%  max          count
Malaria                        ...
0.0            41.0  9.463415  ...           1.0  1.0           37.0
1.0            27.0  6.000000  ...           1.0  1.0           17.0


             mean       std  min  25%  50%  75%  max
Malaria
0.0      0.486486  0.506712  0.0  0.0  0.0  1.0  1.0
1.0      0.529412  0.514496  0.0  0.0  1.0  1.0  1.0

[2 rows x 88 columns]

In [28]:
res = stats.ttest_ind(Malaria, No_Malaria, equal_var=True)

display(res)

Ttest_indResult(statistic=-0.7434004540673977, pvalue=0.459877477245648)